# Build artifacts
*.rpf
*.dll
*.exe
*.pdb
*.cache
bin/
obj/
.vs/

# Package content & build assets
CodeWalker.OIVInstaller/Mod example/
CodeWalker.OIVInstaller/packaging/
CodeWalker.OivsPacker/dist/
*.oivs
*.oivsproj
